---
const today = new Date();
---

<footer class="py-8 px-4 text-center text-gray-600 pb-20 lg:pb-0">
  <div class="max-w-4xl mx-auto">
    <p>&copy; {today.getFullYear()} Eugen Eistrach.</p>
  </div>
</footer>
