---
import BaseHead from "./BaseHead.astro";
import Footer from "./Footer.astro";
import { ClientRouter } from "astro:transitions";
import { ClientProviders } from "./ClientProviders";

import "@fontsource-variable/geist-mono";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en" class="min-h-screen font-mono">
  <head>
    <BaseHead title={title} description={description} />
    <ClientRouter />
  </head>
  <body class="bg-linear-to-b from-gray-50 to-white text-gray-700 text-lg">
    <ClientProviders client:load>
      <main class="max-w-4xl mx-auto px-6 py-16">
        <slot />
      </main>
      <Footer />
    </ClientProviders>
  </body>
</html>
